@import "~@/css/var.less";

.nav-site {
  height: 33px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f2f2f2;
  line-height: 33px;
  font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
  color: #999999;
  a {
    color: #999999;
  }
  // 左侧登陆
  .login-info {
    margin-left: -19px;
    li {
      margin-left: 19px;
      a {
        display: block;
      }
    }
  }
  // 右侧下拉
  .nav-menu {
    a {
      &:hover {
        text-decoration: underline;
        color: @color
      }
    }
    .dropdown {
      position: relative;
    }
    .dropdown-toggle {
      display: block;
      padding: 0 14px 0 10px;
      border-left: 1px solid #f2f2f2;
      border-right: 1px solid #f2f2f2;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      height: 33px;
    }
    .icon {
      position: absolute;
      line-height: 1;
      top: 50%;
    }
    .icon1 {
      margin-top: -8px;
      right: 1px;
    }
    .icon2 {
      color: @color;
      font-size: 14px;
      line-height: 1;
      margin-top: -7px;
      left: 0;
    }
    .menu-link {
      .dropdown-toggle {
        padding-left: 15px;
        padding-right: 10px;
      }
    }
    .menu-long {
      height: 14px;
      width: 1px;
      background-color: #cccccc;
      margin: 9px 5px 0;
    }
    .menu-mobile {
      .dropdown-toggle {
        padding-left: 22px;
      }
      .icon {
        font-weight: bold;
        left: 5px;
      }
    }
    .dropdown-layer {
      display: none;
      position: absolute;
      border: #eeeeee solid 1px;
      border-top: none;
      top: 32px;
      background-color: #fff;
      z-index: 1;
      a {
        display: block;
        white-space: nowrap;
      }
    }
    .dropdown-layer-merchant {
      line-height: 20px;
      width: 144px;
      padding: 7px 13px 8px 10px;
      overflow: hidden;
      li {
        margin-left: -23px;
      }
      h3 {
        margin-left: 23px;
        font-weight: bold;
      }
      a {
        display: inline-block;
        margin-left: 23px;
      }
      .seprate {
        float: right;
        width: 124px;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #eee;
        border-bottom-color: rgba(0,0,0,.1);
        height: 10.5px;
      }
    }
    .dropdown-layer-mode {
      padding: 9px 12px 7px 10px;
      line-height: 20px;
    }
    .dropdown-left {
      left: 0;
    }
    .dropdown-right {
      right: 0;
    }
    .menu-dh {
      .dropdown-toggle {
        padding-left: 27px;
      }
    }
    .icon4 {
      font-size: 12px;
      left: 9px;
      margin-top: -7px;
      color: @color;
    }

    // 状态
    .menu-active {
      .dropdown-toggle {
        background-color: #fff;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #e5e5e5;
        .rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}
// 结束列表
// header开始
.header {
  height: 130px;

  .header-logo {
    position: relative;
    margin-left: -20px;
    display: block;
    width: 240px;
    height: 130px;
    background: url('~@/images/TB1MaLKRXXXXXaWXFXXXXXXXXXX-480-260.png') no-repeat center center;
    background-size: 100%;
  }
  .search {
    margin-left: 117px;
    margin-top: 38px;
    border: 2px solid @color;
    position: relative;
  }
  .search-inputbox {
    width: 491px;
    padding: 0 8px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
  }
  .search-btn {
    width: 130px;
    text-align: center;
    color: #fff;
    background: @color;
    font-weight: bold;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    letter-spacing: 5px;
  }
  .search-hot {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    margin-left: -12px;
    li {
      padding: 0 14px 0 12px;
      border-right: 1px solid #cccccc;
    }
    a {
      display: block;
      font-size: 14px;
      &.red {
        color: @color;
      }
    }
  }
  .search-layer {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 491px;
    line-height: 26px;
    border: 1px solid #bebebe;
    background: #fff;
    text-indent: 6px;
    z-index: 1;
    li:hover {
      background: @color;
      color: #fff;
    }
  }
}

.nav-section {
  height: 26px;
  border-bottom: 2px solid @color;
  font-size: 14px;
  line-height: 24px;
  a {
    display: block;
    float: left;
    margin: 0 0 0 18px;
    font-size: 16px;
    img {
      width: 100px;
      height: 30px;
      display: block;
      position: relative;
      margin-top: -3px;
    }
  }
  .nav-tm {
    margin-left: 210px;
  }

}

.focus {
  z-index: 1;
  position: relative;
  .category {
    position: absolute;
    top: -36px;
    height: 536px;
    width: 200px;
    // 标题
    .category-title {
      display: block;
      height: 36px;
      line-height: 36px;
      background: @color;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      padding: 0 14px;
      .icon {
        margin-right: 12px;
      }
    }
    //列表
    .category-list {
      background: rgba(0, 0, 0, .3);
      position: relative;
      .color (@co) {
        color: @co;
        a {
          color: @co;
        }
      }
      .menu-active {
        background: #fff;
        &.item-0 {
          .color(#e54077)
        }
        &.item-1 {
          .color(#427def)
        }
        &.item-2 {
          .color(#6347ed)
        }
        &.item-3 {
          .color(#e54077)
        }
        &.item-4 {
          .color(#6347ed)
        }
        &.item-5 {
          .color(#427def)
        }
        &.item-6 {
          .color(#e54077)
        }
      }
      li {
        height: 31.25px;
        line-height: 31.25px;
        padding: 0 0 0 14px;
        color: #fff;
        font-size: 14px;
        a {
          color: #fff;
          margin-right: 3px;
        }
      }
      .icon {
        margin-right: 8px;
      }
    }
    //展开菜单
    .dropdown-layer {
      display: none;
      width: 852px;
      height: 500px;
      position: absolute;
      left: 100%;
      top: 0;
      color: #222;
      a {
        color: #222!important;
      }
      // 左边
      .category-fl {
        background: #fff;
        height: 100%;
        padding: 19px 30px;
        line-height: 22px;
        width: 643px;
        dt {
          text-align: right;
          // width: 90px;
          margin-right: 19px;
          width: 71px;
          font-weight: bold;
          span {
            margin-left: 5px;
            font-family: "宋体"
          }
        }
        dd {
          width: 493px;
          a {
            display: inline-block;
            margin-right: 13px;
          }
          .seprate {
            margin-bottom: 10.5px;
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            border-bottom-color: #eee;
            border-bottom-color: rgba(0,0,0,.1);
            height: 10.5px;
          }
        }
      }
      //右边
      .category-fr {
        width: 189px;
        height: 480px;
        margin: 10px;
        a {
          background: #fff;
          display: block;
          float: left;
          width: 93px;
          padding: 5px 0;
          margin-right: 1px;
          margin-bottom: 1px;
          height: 47px;
          img {
            display: block;
            width: 73px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.slider {
  position: relative;
  height: 500px;
  .slider-item {
    width: 100%;
    height: 500px;
    position: absolute;
  }
  .container {
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .slider-indicator-wrap {
    position: absolute;
    bottom: 26px;
    width: 100%;
    text-align: center;
    .slider-indicator {
      cursor: pointer;
      display: inline-block;
      margin-right: 8px;
      width: 25px;
      height: 5px;
      background: rgba(0,0,0,.3);
    }
    .slider-indicator-active {
      background: rgba(255,255,255,.6);
    }
  }
}
.slider-fade .slider-item {
    display: none;
}

.menu-active .dropdown-layer {
    display: block!important;
}
