@import "./var.less";

/////////////////////
// 所有文件公用样式 //
////////////////////
html {
  // font-size: 100%;
  /*网页默认大小16px   10/16*100%  = 62.5%  也就是网页字体大小设置为10px */
  // color: #222;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
  // font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}

body, button, input, select, textarea {
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53"
}

fieldset, img {
    border: 0;
}
input {
  border: none;
}
button {
  cursor: pointer;
}
input:focus,
button:focus {
  outline: none;
}
/*
网页整体宽度，非响应式
*/
.container {
  width: @container;
  margin: 0 auto;
}
.fadeOut {
  opacity: 0;
  visibility: visible;
}
::selection {
  background-color: @selection;
  /* 此属性为 选中设置 */
  text-shadow: none;
}

.link {
  color: #222
}
.link:hover {
  color: #ff0036
}
.transition {
  transition: .3s all;
}
/* 文字隐藏 */
.text-hidden {
  text-indent: -9999px;
  overflow: hidden;
}
/* 显示省略号 */
.text-ellipsis {
  /* 显示省略号 */
  text-overflow: ellipsis;
  /* 不换号 */
  white-space: nowrap;
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

a:hover {
}

a:hover,
a:active {
  color: @a-hover;
  // background-color: #FFF;
  text-decoration: none;
}

/* ul,
dd,
dl,
h2 {
  margin: 0;
  padding: 0;
}
i,
em {
  font-style: normal;
}
li {
  list-style: none;
}
button,
input {
  outline: 0px;
  border: 0;
}
img {
  border: none;
} */
/*==========
 工具样式
 ==========*/
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.fr {
  float: right !important;
}

.fl {
  float: left !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
  /*占据位置，隐藏*/
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background: transparent;
  border: 0;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix:before {
  content: "";
  display: table;
}
